*{
    margin: 0px;
    padding: 0px;
}
::root{
    
}
body{
    font-family: 'Work Sans', sans-serif;
}
.pink{
    color: #F948B2;
}
.btn-pink{
    color: white;
    background-color: #F948B2;
    padding: 21px 40px;
    border-radius: 48px;
    border: 0;
}
.btn-skyblue{
    color: #fff;
    border-radius: 48px;
    background: #4EC5F7; 
    padding: 21px 40px;   
    border: 0;
}
.youtube{
    color: #F61C0D;
}
.black{
    color: black;
}


/* Header Section Style */
header{
    /* padding-top: 37px; */
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 37px 130px;
}
.header-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.header-left img{
    width: 100%;
}
.header-left h3{
    font-size: 3rem;
    font-weight: 700;
    
}
.header-right ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul li{
    list-style: none;
}
.header-right a{
    text-decoration: none;
    color: #3C354F;
    font-size: 1.1rem;
    margin-left: 30px;
    
}
.header-right a i{
    font-size: 1.2rem;
    padding-top: 5px;
    margin: 5px;
}
.nav-bg{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 8px;
}
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 100%;
}
.banner-text{
    background-image: url(./images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    flex: 50%;
    padding: 88px;
    
}
.banner-text h3{
    /* padding-top: 50px; */
    font-size: 3rem;
    /* padding-top: 20%; */
    padding-left: 7%;
}
.text h2{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background: transparent;
    color: rgb(201, 93, 201);
    font-size: 5.2rem;
    font-weight: 800;
    padding-left: 7%;
}
.banner-text p{
    margin-bottom: 15px;
    padding-left: 7%;
}
.banner-img{
    position: relative;
    right: 5%;
    flex: 50%;
}
.banner-img img{
    width: 90%;
}
.container{
    /* width: 80%; */
    /* margin: auto; */
    display: flex;
    justify-content: space-between;

    /* flex: 100%; */
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 70px 0px;

}
.container-left{
    
    /* flex: 50%; */
}
.container-right{
    text-align: right;
    padding-right: 120px;
    /* flex: 50%;
    padding-right: 130px; */
}
.con-title{
    color: rgb(201, 93, 201);
    font-size: 3rem;
    margin-bottom: 10px;
}
.container-right p{
    /* width: 50%; */
    /* margin: 0px 0px 0px 120px; */
    margin-bottom: 20px;
}
.container img{
    width: 90%;
    padding-left: 90px;
}
.spech{
    font-weight: 500;
    margin-top: 10px;
}
.size{
    font-size: 1.5rem;
    font-weight: 700;
}
.box{
    width: 100%;
    margin: auto;
}
/* Games container section */
.games{
    text-align: center;
}
.games-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 80%;
    margin: auto;
}
.card {
    position: relative;
    width: 100%;
    max-width: 400px;
    
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  .card p{
    display: block;
    width: 100%;
    height: auto;
    
  }
.overlay {
    border-radius: 18px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(36, 34, 34, .4);
  }
  .card:hover .overlay {
    opacity: 1;
    border-radius: 18px;
  }
  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* -ms-transform: translate(-50%, -50%); */
    text-align: center;
  }
  .fa-user:hover {
    color: #eee;
  }
  .games-title{
    font-size: 3rem;
    margin-top: 100px;
    margin-bottom: 20px;
  }
  .games-description{
    margin-bottom: 50px;
  }
  .boxes p{
    text-align: left;
  }


  .anniversary{
    width: 80%;
    margin: auto;
    margin-top: 100px;
  }
  .anniversary-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
  }
  .text-left{
    text-align: right;
    position: relative;
    margin-bottom: 380px;
    width: 70%;
  }
  .img-right{
    width: 90%;
  }
  .img-1{
    width: 100%;
  }
  .img-2{
    width: 40%;
    padding: 5px;
    background-color: #fff;
    position: relative;
    bottom: 160px;
    margin-left: -100px;
  }
  .list{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }
  .g-box{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 10px;
    border-radius: 50px;
    width: 100%;
    /* border: 2px solid #ddd; */
    
  }
  .g-list{
    
    /* background-color: #ddd; */
    margin-bottom: 20px;
    /* width: 100%; */
    
  }
  .g-list:hover .g-box{
    border: 2px solid #FF42A5;
    color: #FF42A5;
  }
  
footer{
    background-color: #3C354F;
}
.footer-left{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    gap: 20px;
}
.f-icon{
    width: 6rem;
}
.footer-menu{
    width: 100%;
}
.footer-menu ul{
    /* display: grid;
    grid-template-columns: repeat(6, 1fr); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.footer-menu ul li{
    list-style: none;
    margin: 20px 0px;
}
.footer-menu ul li a{
    text-decoration: none;
    color: white;
}
.footer-icon{
    text-align: center;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 60%;
    margin:20px auto;
    gap: 40px;
    padding: 30px;

}
.term{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: white;
    margin-top: 20px;
}
.down-footer{
    text-align: center;
    color: rgb(190, 190, 190);
    margin-top: 20px;
    padding-bottom: 30px;
}
.footer-left{
    padding: 40px;
}





/* Responsive for mobile device */
@media screen and (max-width:576px) {
    nav,
    ul,
    .container,
    .games-container,
    .anniversary-container{
        flex-direction: column;
    }
    nav{
        padding: 103px 20px;
        box-shadow: none;
    }
    .header-right{
        margin-top: 62px;
    }
    .header-right ul{
        gap: 26px;
        margin-left: -20px;
    }
    .banner{
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }
    .banner-text{
        flex: 100%;
        padding: 0px 70px;
        margin-left: 20px;
        width: 60%;
    }
    .banner-img{
        flex: 90%;
        margin-left: 50px;
        margin-bottom: 100px;
    }
    .banner-text h3{
        padding-top: 30px;
        font-size: 2rem;
        padding-top: 5%;
        padding-left: 10%;
    }
    .banner-text h2{
        font-size: 3.5rem;
        font-weight: 800;
        padding-left:10%;
    }
    .banner-text p{
        font-size: 1rem;
        margin-bottom: 15px;
        padding-left: 10%;
    }
    .container{
        width: 100%;
    }
    .container-left{
        width: 90%;
        padding: 0;
        margin: 0;
    }
    .anniversary .games-title{
        font-size: 1.5rem;
    }
    .container-right,
    .anniversary{
        padding: 0;
        margin: auto;
    }
    .container img{
        padding-left: 30px;
        width: 90%;
        margin: auto;

    }
    .boxes{
        margin-bottom: 40px;
    }
    .card{
        margin-bottom: 20px;
    }
    .box{
        width: 80%;
        margin: auto;
        text-align: center;
    }
    .text-left{
        text-align: center;
        margin: 10px;
    }
    .img-right{
        margin-left: 40px;
    }
    .img-2{
        width: 40%;
        padding: 5px;
        background-color: #fff;
        position: relative;
        bottom: 80px;
        margin-left: -60px;
      }
      .g-list{
        width: 35%;
      }
      .g-box{
        width: 100%;
      }
      .list{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        gap:  5px;
      }
      .footer-menu ul{
        /* margin-left: -20px; */
        flex-direction: row;
        flex-wrap: wrap;
        gap:5px 50px;
      }
      /* .footer-icon{
        grid-template-columns: repeat(4,1fr);
        width: 80%;
      }
     */
     .footer-icon,
     .term,
     .footer-menu,
     .footer-left{
        width: 80%;
        margin: auto;
     }
     .footer-icon,
     .term{
        flex-wrap: wrap;
        gap:20px 50px;
     }
     .footer-icon{
        margin: 30px auto;
     }



    .btn-pink{
        color: white;
        background-color: #F948B2;
        padding: 15px 25px;
        border-radius: 48px;
        border: 0;
    }
    .btn-skyblue{
        color: #fff;
        border-radius: 48px;
        background: #4EC5F7; 
        padding: 15px 25px;
        border: 0;
    }
    



}

@media screen and (min-width:576px) and (max-width:992px) {
    
    nav,
    ul,
    .container,
    .games-container,
    .anniversary-container{
        flex-direction: column;
    }
    nav{
        padding: 103px 20px;
        box-shadow: none;
    }
    .header-right{
        margin: 62px auto;
        
    }
    .header-right ul{
        gap: 26px;
        margin-left: -10px;
    }
    .banner{
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    .banner-text{
        flex: 100%;
        padding: 100px 80px;
        margin-left: 20px;
        width: 60%;
        margin-bottom: 100px;
    }
    .banner-img{
        flex: 90%;
        margin-left: 150px;
        margin-bottom: 100px;
    }
    .banner-text h3{
        padding-top: 30px;
        font-size: 2rem;
        padding-top: 5%;
        padding-left: 10%;
    }
    .banner-text h2{
        font-size: 3.5rem;
        font-weight: 800;
        padding-left:10%;
    }
    .banner-text p{
        font-size: 1rem;
        margin-bottom: 15px;
        padding-left: 10%;
    }
    .games-container{
        flex-wrap: wrap;
        width: 90%;
        gap: 20px;
    }
    .games-title{
        font-size: 2rem;
        width: 100%;
    }
    .games-description{
        max-width: 90%;
    }
    .games-container img{
        margin-bottom: 20px;
    }
    .container-left{
        width: 90%;
        padding: 0;
        margin: 0;
    }
    .container-right,
    .anniversary{
        padding: 0;
        margin: auto;
    }
    .anniversary .games-title{
        font-size: 2rem;
        width: 100%;
    }
    .container img{
        padding-left: 30px;
        width: 90%;
        margin: auto;

    }
    .box{
        width: 80%;
        margin: auto;
        text-align: center;
    }
    .text-left{
        text-align: center;
        margin: 10px;
    }
    .img-right{
        margin-left: 40px;
    }
    .img-2{
        width: 40%;
        padding: 5px;
        background-color: #fff;
        position: relative;
        bottom: 80px;
        margin-left: -60px;
      }
      .list{
        flex-wrap: wrap;
        gap: 10px;
      }
      .footer-menu ul{
        flex-direction: row;
        flex-wrap: wrap;
        gap:5px 50px;
      }
     .footer-icon,
     .term,
     .footer-menu,
     .footer-left{
        width: 80%;
        margin: auto;
     }
     .footer-icon,
     .term{
        flex-wrap: wrap;
        gap:20px 30px;
     }
     .footer-icon{
        margin: 30px auto;
     }



    .btn-pink{
        color: white;
        background-color: #F948B2;
        padding: 15px 25px;
        border-radius: 48px;
        border: 0;
    }
    .btn-skyblue{
        color: #fff;
        border-radius: 48px;
        background: #4EC5F7; 
        padding: 15px 25px;
        border: 0;
    }
    



}